<!-- attendance/templates/attendance/attendance_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance List</title>
</head>
<body>
    <h1>Attendance List</h1>
    <ul>
        {% for attendance in attendances %}
            <li><a href="{% url 'attendance:attendance_detail' attendance.pk %}">{{ attendance }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'attendance:attendance_create' %}">Record new attendance</a>
</body>
</html>
