{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher List</title>
    <link rel="stylesheet" href="{% static 'css/teacher_styles.css' %}">
</head>
<body>
    <h1>Teacher List</h1>
    <a href="{% url 'teachers:teacher_add' %}">Add New Teacher</a>
    <ul>
        {% for teacher in teachers %}
            <li>
                <a href="{% url 'teachers:teacher_detail' teacher.pk %}">{{ teacher.first_name }} {{ teacher.last_name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
